.intro-wrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2em;
        padding-right: 2em;
    }
}

.image-style {
    width: 200px;
    height: 200px;
    padding: 0.2rem;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .image-style {
        width: 300px;
        height: 300px;
        padding: 0.2rem;
        border-radius: 50%;
    }
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

.main-container {
    padding-top: 2em;
    padding-left: 10em;
    padding-right: 10em;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .main-container {
        padding-top: 2em;
        padding-left: 8em;
        padding-right: 8em;
        text-align: center;
    }
}

@media screen and (max-width: 850px) {
    .main-container {
        padding-top: 2em;
        padding-left: 6em;
        padding-right: 6em;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .main-container {
        padding-top: 2em;
        padding-left: 4em;
        padding-right: 4em;
        text-align: center;
    }
}

@media screen and (max-width: 750px) {
    .main-container {
        padding-top: 2em;
        padding-left: 2em;
        padding-right: 2em;
        text-align: center;
    }
}

.divider {
    height: 1px;
    margin-top: 3rem;
    position: relative;
}

.div-transparent:before {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 0.2rem;
    background-image: linear-gradient(to right, transparent, rgb(48, 50, 52), transparent);
}

.font-custom {
    font-family: "Calibri";
}

.height-custom {
    min-height: 0.8rem;
}

.form-margins {
    margin-left: 8rem;
    margin-right: 8rem;
    background: #1D1E22;
    border-radius: 0.4rem;
    padding: 0.8rem 1.6rem 2.6rem 1.6rem;
}

@media screen and (max-width: 1200px) {
    .form-margins {
        margin-left: 2rem;
        margin-right: 2rem;
        background: #1D1E22;
        border-radius: 0.4rem;
        padding: 0.8rem 1.6rem 2.6rem 1.6rem;
    }
}

@media screen and (max-width: 1000px) {
    .form-margins {
        margin-left: -1rem;
        margin-right: -1rem;
        background: #1D1E22;
        border-radius: 0.4rem;
        padding: 0.8rem 1.6rem 2.6rem 1.6rem;
    }
}