.intro-container-dark {
    background: #1D1E22;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.wrapper-dark {
    color: white;
    min-height: 1000px;
    background: #1D1E22;
    margin: 2em max(10rem, 10%) 2em max(10rem, 10%);
    border-radius: 0.6em;
    max-width: 1300px;
}

@media screen and (max-width: 1200px) {
    .wrapper-dark {
        color: white;
        min-height: 1000px;
        background: #1D1E22;
        margin: 2em 8em 2em 8em;
        border-radius: 0.6em;
    }
}

@media screen and (max-width: 1100px) {
    .wrapper-dark {
        color: white;
        min-height: 1000px;
        background: #1D1E22;
        margin: 2em 7em 2em 7em;
        border-radius: 0.6em;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper-dark {
        color: white;
        min-height: 1000px;
        background: #1D1E22;
        margin: 2em 6em 2em 6em;
        border-radius: 0.6em;
    }
}

@media screen and (max-width: 900px) {
    .wrapper-dark {
        color: white;
        min-height: 1000px;
        background: #1D1E22;
        margin: 2em 5em 2em 5em;
        border-radius: 0.6em;
    }
}

@media screen and (max-width: 800px) {
    .wrapper-dark {
        color: white;
        min-height: 1000px;
        background: #1D1E22;
        margin: 2em 4em 2em 4em;
        border-radius: 0.6em;
    }
}

@media screen and (max-width: 700px) {
    .wrapper-dark {
        color: white;
        min-height: 1000px;
        background: #1D1E22;
        margin: 1em 3em 1em 3em;
        border-radius: 0.6em;
    }
}

@media screen and (max-width: 600px) {
    .wrapper-dark {
        color: white;
        min-height: 1500px;
        background: #1D1E22;
        margin: 1em 2em 1em 2em;
        border-radius: 0.6em;
    }
}

@media screen and (max-width: 500px) {
    .wrapper-dark {
        color: white;
        min-height: 1500px;
        background: #1D1E22;
        margin: 0.5em 1em 0.5em 1em;
        border-radius: 0.6em;
    }
}

.card-dark {
    border: #343A40 0.2rem solid;
    border-radius: 0;
    margin-top: 0.5rem;
}

.image-wrapper-dark {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background: white;
}

@media screen and (max-width: 600px) {
    .image-wrapper-dark {
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background: white;
    }
}

.li-btn-dark {
    border-radius: 0.4rem;
    background: #121212;
    margin: 0rem 0.2rem 0rem 0.2rem;
}

.font-dark {
    color: white;
}

.navbar-color-dark {
    padding: 0.4rem 0rem 0.4rem 0rem;
    background: #1D1E22;
}

.height-main-dark {
    background: #FFFFFF;
    height: auto;
}